<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add
		key="aspnet:UseTaskFriendlySynchronizationContext"
		value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="MessagingServerLib.MessagingService">
        <endpoint
			address=""
			binding="wsDualHttpBinding"
			bindingConfiguration="bindingConfig"
			contract="MessagingServerLib.IMessagingService"/>
        <host>
          <baseAddresses>
			  <add baseAddress="http://localhost:9999/PDAJ/MessagingService" />
          </baseAddresses>
        </host>
      </service>
    </services>
	<bindings>
    <!-- Configure a WSDualHttpBinding that supports duplex -->
    <!-- communication. -->
    <wsDualHttpBinding>
		<binding transactionFlow="true"
				 name="bindingConfig"
				 openTimeout="00:10:00"
				 closeTimeout="00:10:00"
				 sendTimeout="00:10:00"
				 receiveTimeout="00:10:00"
				 maxReceivedMessageSize="2000000000">
			
			<readerQuotas maxDepth="2000000000"
				 maxStringContentLength="2000000000"
				 maxArrayLength="2000000000"
				 maxBytesPerRead="2000000000"
				 maxNameTableCharCount="2000000000" />
		</binding>
    </wsDualHttpBinding>
  </bindings>
	  <protocolMapping>
            <add
				binding="wsDualHttpBinding"
				scheme="http"
				bindingConfiguration="bindingConfig" />
        </protocolMapping>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity
			name="System.Runtime.CompilerServices.Unsafe"
			publicKeyToken="b03f5f7f11d50a3a"
			culture="neutral" />

        <bindingRedirect
			oldVersion="0.0.0.0-6.0.0.0"
			newVersion="6.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
